/* Embrulhando */
.success {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  /* padding-inline: 2.4rem; */
  padding-block: 10rem;
}
.success h1 {
  font-size: 3rem;
  color: rgba(217, 28, 92, 0.9);
}

img {
  width: 26.4rem;

  display: block; /*Remover todos os espaÃ§o entre o .stats da imagem*/
  margin-inline: auto;

  object-position: 0 2rem;
}

/*=========== Responsividade ==========*/
@media (min-width: 1024px) {
  img {
    width: 46rem;
  }

  .success {
    padding-block: 6rem;
  }
}
